 
<% if @snames.nil?  %>
<%= link_to "welcome to the search" , root_url %> <br />
<%= render :partial => 'snames/search' %>
<% else %>
<%= link_to "welcome to the search" , root_url %> <br />
<h1>Listing Names</h1> <br />
<%= @snames.count  %> results founds 

<table>

  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>





<% @snames.each do |sname| %>

  <tr>
    <td><%= sname.name %></td>
    <td><%= link_to 'Show', sname %></td>
    <td><%= link_to 'Edit', edit_sname_path(sname) %></td>
    <td><%= link_to 'Destroy', sname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>





<br />


<% end %>
<%= link_to 'New name', new_sname_path %><br />
 import names from csv  <br />
<%= render :partial => 'snames/import' %>



